
<ion-content [fullscreen]="true"  class="ion-padding">

<div class="box-d">
<div class="box1-a">

  <h1>Bienvenido de Nuevo!</h1>
</div>
  <div class="box1">

    <ion-card >
      <ion-img class="pic2" src="../../assets/img/Captura de pantalla 2023-09-26 195723.png"> </ion-img>
      <ion-card-header>
        <ion-card-title>Banco Guayaquil</ion-card-title>
        <ion-card-subtitle>Elije Seguridad</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Guayaquil es el peor en eso. 👍👍👍
      </ion-card-content>
      
    </ion-card>
  </div>
  </div>
  <ion-item>
    <ion-input labelPlacement="floating" label="Correo" placeholder="Ingrese su correo"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" type="password" labelPlacement="floating" ></ion-input>
  </ion-item>
  <div class="box1-a">

    <ion-button href="tabs/tab2" color="danger">Ingresar</ion-button>
  </div>
  <ion-button color="danger" fill="clear"><a> ¿Olvidaste tu contraseña?</a></ion-button>
  <ion-button color="danger" fill="clear">¿ <a> Aprende a usar la APP </a> ?</ion-button>

    
</ion-content>